/* ================= FOOTER ================= */

/* footer specific container */
.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;

  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr;
  gap: 10px;
  background: #0a8cc9;
  color: #ffffff;
}

/* BRAND */
.footer-logo {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 10px;
}

/* CONTACT */
.footer-contact p {
  font-size: 14px;
  margin-bottom: 10px;
}

.footer-contact span {
  font-weight: 600;
}

/* APPS */
.footer-apps {
  display: flex;
  gap: 12px;
  margin-top: 15px;
}

.footer-apps img {
  height: 40px;
  cursor: pointer;
}

/* COLUMN */
.footer-col h4 {
  font-size: 16px;
  margin-bottom: 16px;
  border-bottom: 2px solid rgba(255,255,255,0.3);
  padding-bottom: 6px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col li {
  font-size: 14px;
  margin-bottom: 8px;
  cursor: pointer;
  opacity: 0.9;
}

.footer-col li:hover {
  opacity: 1;
  text-decoration: underline;
}

/* BOTTOM */
.footer-bottom {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 14px;
  opacity: 0.85;
  margin-top: 2px;
  border-top: 1px solid rgba(255,255,255,0.25);
  padding-top: 2px;
  margin-bottom: 10px;
}

/* RESPONSIVE */
@media (max-width: 700px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 10px;
  }
}





/* Section title feel */
.contact-whastapp {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
  color: #25D366;
  max-width: 220px;        /* 👈 width control */
  margin: 12px auto; 
}

.contact-Telephone {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
  color: #d5f90a;
  max-width: 220px;        /* 👈 width control */
  margin: 12px auto; 
  
}

/* Links */
.contact-whastapp a,
.contact-Telephone a {
  display: block;
  text-decoration: none;
  font-weight: 600;
  padding: 8px 12px;
  border-radius: 8px;
  transition: all 0.25s ease;
}

/* WhatsApp links */
.contact-whastapp a {
  background: #25D366;
  color: #fff;
  
}

.contact-whastapp a:hover {
  background: #1ebe5d;
  transform: translateY(-2px);
}

/* Call links */
.contact-Telephone a {
  background: #0bd7a4;
  color: #fff;
}

.contact-Telephone a:hover {
  background: #0b5ed7;
  transform: translateY(-2px);
}

/* "Or" text */
.contact-whastapp p,
.contact-Telephone p {
  margin: 6px 0;
  text-align: center;
  font-size: 14px;
  color: #555;
}

/* Remove underline on hover */
.contact-whastapp a:hover,
.contact-Telephone a:hover {
  text-decoration: none;
}

/* Mobile spacing */
@media (max-width: 480px) {
  .contact-whastapp,
  .contact-Telephone {
    padding: 12px;
  }
}

